---
// Importing a stylesheet
import '../styles/global.css'

// Importing the header component
import Header from '../components/Header.astro'
// Importing the footer component
import Footer from '../components/Footer.astro';
const pageTitle = 'Home Page';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />

		<h1>{pageTitle}</h1>

		<Footer />
		{/* Adding a script for the hamburger menu functionality */}
		<script>
			import "../scripts/menu.js"
		</script>
	</body>
</html>
