---
import Navigation from "./Navigation.astro";
import Hamburguer from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header transition:animate="none">
  <nav>
    <Hamburguer />
    <Navigation />
    <ThemeIcon />
  </nav>
</header>
